.chatroom-container{
    flex: 1;             
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
}

.chatroom-nav{
    display: flex;
    justify-content: space-between;

    position: sticky;
    top: 0;
    z-index: 9999;

    background: white;

    border-bottom: 1px solid var(--light-grey-hover-color);
}

.chatroom-title{
    color: black;
    font-size: 16px;
}

.message-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    padding: 12px;
    background: whtie !important;
    min-height: 500px;
}

.chatroom-input{
    flex-shrink: 0; 
    display: flex;
    padding: 8px;
    border-top: 1px solid #ddd;
    background: #fff;
}

.chatroom-input input {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

.chatroom-input button {
    margin-left: 8px;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    background: var(--soong-color);
    color: white;
    cursor: pointer;
}

.message {
    display: flex;
    align-items: flex-end;
    gap: 8px;            
    max-width: 60%;        
   
}

.message-content {
    padding: 10px 14px;
    border-radius: 18px;
    line-height: 1.4;
}

.message-time {
    font-size: 12px;       
    color: var(--light-grey-hover-color);
    white-space: nowrap; 
}

.my {
    align-self: flex-end;         
    flex-direction: row-reverse;   
}

.my .message-content {
    background: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid var(--light-grey-hover-color);
}


.other {
    align-self: flex-start; 
}

.other .message-content {
    background: var(--soong-color);
    color: white;
}
