/* 전체 컨테이너 */
.chat-room-item {
    display: flex;
    flex-direction: column;
    gap: 8px; 
    padding: 16px;
    border-bottom: 1px solid var( --light-grey-color);
    text-decoration: none;
    color: inherit;
}

.chat-room-item:hover {
    background-color: var( --light-grey-color);
}

/* 행 스타일 */
.chat-item-row {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
}

/* 제목 스타일 */
.product-title {
    font-weight: bold;
    font-size: 16px;
}

/*정보란*/
.participant-info {
    font-size: 14px;
   color: var(--light-grey-hover-color);
}
/*마지막 메세지*/
.last-message {
    font-size: 14px;
    color: var(--light-grey-hover-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
}
/*마지막 메세지 시간*/
.last-time {
    font-size: 12px;
    color: var(--light-grey-hover-color);
    white-space: nowrap;
}