.floating-button-container {
  position: fixed; 
  bottom: 20px;   
  right: 20px;     
  z-index: 1000; 

}
/* 전체화면일때 조금 더 왼쪽으로 오도록.. */
@media (min-width: 1024px) {
  .floating-button-container {
    bottom: 20px; 
    right: 400px; 
  }
}
  

/* 원형 버튼 스타일 */
.floating-button-container .btn.rounded-circle {
  width: 80px;   
  height: 80px;  
  font-size: 3rem; 

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  
}

.btn.rounded-circle {
  background-color: var(--soong-color);
  border: none;
}

.btn.rounded-circle:hover {
  background-color: var(--soong-hover-color);
}