.navbar{
    position: fixed !important;
    top: 0 !important;
    z-index: 9999;

    width: 100%;
    max-width: 960px;

    padding-right: 24px !important; 
    padding-left: 24px !important;
    margin-left: auto;
    margin-right: auto;
    
    display: block !important;

    background-color: white;
}
/* 검색창 */
.search-container{
    display: flex;
    align-items: center;
    background-color: var(--light-grey-color);
    border-radius: 50px;
    overflow: hidden;
}

.search-bar{
    flex: 1;
    border: none !important;
    outline: none;
    padding: 8px 15px !important;
    background-color: var(--light-grey-color);
    font-size: 16px;
}

.search-button{
    height: 32px;
    width: 32px;
    border: none;
    border-radius: 50%; /* 원형 */
    
    background-color :var(--light-grey-color);

    padding: 6px 9px;

    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.2s ease;
}

.search-button:hover {
  background-color: var(--light-grey-hover-color)
}

.search-button:active {
  background-color: var(--light-grey-hover-color)
}