.navbar{
    position: fixed !important;
    top: 0 !important;
    z-index: 9999;

    width: 100%;
    max-width: 960px;

    padding-right: 24px !important; 
    padding-left: 24px !important;
    margin-left: auto;
    margin-right: auto;
    display: block !important;

    background-color: white;
}