.gallery-container {
    width: 100%;
    margin: auto;
    max-width: 500px;
}

/* 메인 이미지 */
.main-image-container {
    margin-bottom: 10px;
    position: relative; 
}


.main-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;    /* 이미지 크기 넘치면 자르기 */
    border-radius: 8px;
    display: block; 
}

/* 화살표 */
.arrow-btn {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
    line-height: 1;
    z-index: 10;
}

.arrow-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev-arrow {
    left: 10px; 
}

.next-arrow {
    right: 10px; 
}

/* 썸네일 */
.thumbnail-container {
    display: flex;
    justify-content: start;
    gap: 8px;
}

.thumbnail-image {
    width: calc(20% - 8px); 
    flex-shrink: 0; 
    
    aspect-ratio: 1 / 1;
    object-fit: cover;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid transparent;
    transition: transform 0.2s, border-color 0.2s;
}

.thumbnail-image:hover {
    transform: scale(1.05);
}

.thumbnail-image.active {
    border-color: var(--soong-color);
    box-shadow: 0 0 5px var(--soong-hover-color);
}