.input{
    display: none;
}

.image-upload-area{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #e0e0e0;
    border-radius: 12px ;
    cursor: pointer;
}

.preview-container{
    position: relative;
}

.img-delete-button{
    position: absolute;
    background-color: transparent;

    top: 0px;
    right: 5px;

    border: none;
    cursor: pointer;
    padding: 0;
}

.preview-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 12px ;
}