form {
  width: 100%;
}

.form-group {
  margin-bottom: 1rem;
}

.post-label {
  display: block;
  margin: 0.5rem 0;
  font-weight: bold;
}

.input-continer, .input-content {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid var(--light-grey-color);
  border-radius: 4px;
}

.input-content {
  resize: vertical;
  min-height: 100px;
}

/* 카테고리 */
.category-group {
  display: flex;
  gap: 1rem;
}

.category-group :checked{
  accent-color: var(--soong-color)
}

/* 제출버튼 */
.button-container {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
}

.submit-button {
  padding: 10px 20px;
  background-color: var(--soong-color);
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
}

.submit-button:hover {
  background-color: var(--soong-hover-color);
}