/* 이미지 */
.product-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 12px ;
}
/* 모바일용 이미지 */
@media (max-width: 768px) {
  .product-img {
    width: 50px;
    height: 50px;
  }
}

/* 테이블 전체 속성 */
table td, table th {
    vertical-align: middle;
    text-align: center;
    }
/* 테이블 제목 */
.table th {
    font-size: 20px;
    color: rgb(91, 91, 91);
}


/* 모바일용 테이블 제목 */
@media (max-width: 768px) {
  .table th {
    font-size: 1rem;
  }
}



