/* 대표 이미지 */
.thumbnail-img{
    width: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 12px ;
    justify-content: center;
    align-items: center;
}

button{
    padding: 0;
    margin-right: 4px !important;
    margin-left: 4px !important;

}

p{
    margin-bottom: 0 !important;

}


/* 회색 줄 */
.gray-row{
    display: flex;
    align-items: center;
    color: gray;
}

/* 대화하기, 좋아요 공통 버튼 */
.round-button{
    height: 45px;
    width: auto;

    background-color: white;
    color: black;

    border-radius: 20rem;
    border: 1px solid;
    border-color: #dbdbdb;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    display: flex;
    align-items: center;
}


.round-button:hover{
    background-color: #dbdbdb;
    border-color: #dbdbdb;
}

/* 표 속성 */

.table-container{
    border-top: 1px solid rgb(187, 187, 187);

    padding: 1rem 0;
}

table th, td{
    vertical-align: middle !important;
    text-align: start !important;
}

table th{
    color: gray;
    width: 35%;
}

table td{
    width: 65%;
}

.product-link{
    display: inline-block;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}
