/* 카드 전체 속성 */
.product-card {
    padding: 0.5rem; /* p-2 */
    border: none !important; /* border="0" */
    height: 100%; /* h-100 */
}

.product-card:hover .product-card-img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
/* 카드 이미지 */
.product-card-img-wrapper {
    position: relative;
    overflow: hidden;
}

.product-card-img {
    border-radius: 0.25rem; /* rounded-1 */
    aspect-ratio: 1 / 1; /* 가로:세로 = 1:1 */
    object-fit: cover;
    width: 100%; /* 부모에 꽉 차게 */
}
/* 카드 바디 */
.product-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    height: 100%;
}
/* 카드 헤더 */
.product-card-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
/* 카드 제목 */
.product-card-title{
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

/* 하트 버튼 */
button{
    background-color: white;
    padding-top: 0;
}
/* 카드 가격 */
.product-card-price {
    font-weight: 700; /* fw-bold */
    font-size: 18px;
}
/* 시간 */
.product-card-time {
    color: #6c757d; /* text-muted */
    margin-top: auto;
    justify-content: flex-end;  /* 아래쪽 정렬 */
    align-items: flex-start; 
}
